@model List<Producto>

<h1 class="text-center text-primary">Listado de Productos</h1>

<table class="mt-5 table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cantidad Existente</th>
            <th>Categoria</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>


        @{
            if (!Model.Any())
            {
                <tr>
                    <td colspan="6" class="bg-info" > No existen registros </td>
                
                </tr>
            }
            else
            {

                foreach (var producto in Model)
                {
                    <tr>
                        <td>@producto.Id</td>
                        <td>@producto.Nombre</td>
                        <td>@producto.CantidadExistente</td>
                        <td>@producto.Categoria</td>
                        <td>@producto.Precio</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
